@import "../../responsive.scss";
.profileUpdatePage {
  height: 100%;
  display: flex;

  .formContainer {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .item {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
        }

        input {
          padding: 20px;
          border-radius: 5px;
          border: 1px solid gray;
        }
      }
      button {
        align-items: center;
        background-color: #fff;
        border: 2px solid #000;
        box-sizing: border-box;
        color: #000;
        cursor: pointer;
        display: inline-flex;
        fill: #000;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-weight: 600;
        height: 48px;
        justify-content: center;
        letter-spacing: -0.8px;
        line-height: 24px;
        min-width: 140px;
        outline: 0;
        padding: 0 17px;
        text-align: center;
        text-decoration: none;
        transition: all 0.3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }

      button:focus {
        color: #171e29;
      }

      button:hover {
        border-color: #06f;
        color: #06f;
        fill: #06f;
      }

      button:active {
        border-color: #06f;
        color: #06f;
        fill: #06f;
      }
    }
  }

  .sideContainer {
    flex: 2;
    background-color: #fcf5f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    @include md {
      background-color: #fff;
    }

    .avatar {
      width: 50%;
      object-fit: cover;
      @include md {
        width: 40%;
      }
      @include md {
        width: 30%;
      }
    }
    .cloudinary-button {
      align-items: center;
      background-color: #fff;
      border: 2px solid #000;
      box-sizing: border-box;
      color: #000;
      cursor: pointer;
      display: inline-flex;
      fill: #000;
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-weight: 600;
      height: 48px;
      justify-content: center;
      letter-spacing: -0.8px;
      line-height: 24px;
      min-width: 140px;
      outline: 0;
      padding: 0 17px;
      text-align: center;
      text-decoration: none;
      transition: all 0.3s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }

    .cloudinary-button:focus {
      color: #171e29;
    }

    .cloudinary-button:hover {
      border-color: #06f;
      color: #06f;
      fill: #06f;
    }

    .cloudinary-button:active {
      border-color: #06f;
      color: #06f;
      fill: #06f;
    }
  }

  @media (min-width: 768px) {
    .cloudinary-button {
      min-width: 170px;
    }
  }
  @media screen and (max-width: 992px) {
    // Medium (md) display size
    flex-direction: column; // Change to column layout

    .formContainer {
      order: 2; // Change the order of formContainer
    }

    .sideContainer {
      order: 1; // Change the order of sideContainer
    }
  }
}
