@import "../../responsive.scss";
.newPostPage {
  height: 100%;
  display: flex;
  @include md {
    flex-direction: column;
    overflow: scroll;
  }

  .formContainer {
    flex: 3;
    overflow-y: scroll;
    @include md {
      flex: none;
      height: max-content;
      margin-bottom: 0px;
      overflow-y: scroll;
    }

    .wrapper {
      margin: 30px 50px 100px 0px;

      form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        .item {
          width: 30%;
          display: flex;
          flex-direction: column;
          gap: 5px;
          @include md {
            width: 100%;
            flex-direction: column;
          }

          label {
          }

          input,
          select {
            padding: 20px;
            border-radius: 5px;
            border: 1px solid gray;

            &:hover {
              border-color: #ac4343; // Adjust hover color as desired
            }
          }

          select {
            padding: 19px;
            appearance: none; // Hide default select arrow
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='%23111111'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E"); // Custom arrow icon
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: 16px 16px;

            &:hover {
              background-color: #f0f0f0; // Adjust hover background color as desired
            }
          }

          &.description {
            width: 100%;
            height: 320px;

            .quill > .ql-container > .ql-editor {
              height: 200px;
              font-size: 16px;
            }
          }
        }
        .sendButton {
          width: 30%;
          align-items: center;
          background-color: #fff;
          border: 2px solid #000;
          box-sizing: border-box;
          color: #000;
          cursor: pointer;
          display: inline-flex;
          fill: #000;
          font-family: Inter, sans-serif;
          font-size: 16px;
          font-weight: 600;
          justify-content: center;
          letter-spacing: -0.8px;
          line-height: 24px;
          min-width: 140px;
          outline: 0;
          padding: 0 17px;
          text-align: center;
          text-decoration: none;
          transition: all 0.3s;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
          @include md {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 0px;
            padding: 2.5%; // Auto width for medium screens
          }

          @include sm {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 0px;
            padding: 5%; // Auto width for medium screens
          }
        }
        .sendButton:focus {
          color: #171e29;
        }

        .sendButton:hover {
          border-color: #06f;
          color: #06f;
          fill: #06f;
        }

        .sendButton:active {
          border-color: #06f;
          color: #06f;
          fill: #06f;
        }
      }
    }

    .PhotoHeading {
      display: none;

      @include md {
        display: block;
        margin-bottom: 50px;
        font-size: 24px;
        color: #333;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;
      }
    }
  }

  .sideContainer {
    flex: 2;
    display: flex;
    flex-direction: row-reverse;
    background-color: #fcf5f3;
    align-items: center;
    height: 100%;

    @include md {
      flex: none;
      height: max-content;
      margin-bottom: 50px;
    }

    @include sm {
      flex-direction: column;
      height: 80%;
    }

    .imageContainer {
      margin: 50px 20px 50px 0px;
      background-color: #fcf5f3;
      height: 70%;
      width: 80%;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
      overflow-y: scroll;
      border-radius: 5px;
      border: 1px solid gray;

      @include sm {
        margin-left: 20px;
        padding-bottom: 50px;
      }

      img {
        width: 250px;
        height: 250px;
        margin: 25px;

        @include md {
          width: 150px;
          height: 150px;
          margin: 75px 25px 25px 50px;
        }

        @include sm {
          margin-left: 75px;
        }
      }
    }
    .uploadContainer {
      margin: 0 20px;

      .cloudinary-button {
        align-items: center;
        background-color: #f8f8f8ec;
        border: 2px solid #000;
        box-sizing: border-box;
        color: #000;
        cursor: pointer;
        display: inline-flex;
        fill: #000;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-weight: 600;
        height: 48px;
        justify-content: center;
        letter-spacing: -0.8px;
        line-height: 24px;
        min-width: 140px;
        outline: 0;
        padding: 0 17px;
        text-align: center;
        text-decoration: none;
        transition: all 0.3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
      }

      .cloudinary:focus {
        color: #171e29;
      }

      .cloudinary:hover {
        border-color: #06f;
        color: #06f;
        fill: #06f;
      }

      .cloudinary:active {
        border-color: #06f;
        color: #06f;
        fill: #06f;
      }
    }
  }
}
