@import "../../responsive.scss";

.profilePage {
  display: flex;
  height: 100%;

  @include md {
    flex-direction: column;
    overflow: scroll;
  }

  .details {
    flex: 3;
    overflow-y: scroll;
    padding-bottom: 50px;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
          font-weight: 300;
        }

        button {
          padding: 12px 24px;
          background-color: #ff5a5f;
          color: white;

          cursor: pointer;
          border: none;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        span {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        // button {
        //   width: 100px;
        //   background-color: teal;
        //   border: none;
        //   color: white;
        //   padding: 10px 20px;
        //   cursor: pointer;
        //   border-radius: 5px;
        // }
        button {
          align-items: center;
          background-color: #fff;
          border: 2px solid #000;
          box-sizing: border-box;
          color: #000;
          cursor: pointer;
          display: inline-flex;
          fill: #000;
          font-family: Inter, sans-serif;
          font-size: 16px;
          font-weight: 600;
          height: 48px;
          justify-content: center;
          letter-spacing: -0.8px;
          line-height: 24px;
          width: 100px;
          outline: 0;
          padding: 0 17px;
          text-align: center;
          text-decoration: none;
          transition: all 0.3s;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;
        }

        button:focus {
          color: #171e29;
        }

        button:hover {
          border-color: #06f;
          color: #06f;
          fill: #06f;
        }

        button:active {
          border-color: #06f;
          color: #06f;
          fill: #06f;
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
  .chatContainer {
    flex: 2;
    background-color: #fcf5f3;
    height: 100%;

    @include md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding: 0px 20px;
      height: 100%;
    }
  }
}
